/******* feed ********/

a {
	text-decoration: none !important;
}

hr {
	text-align: center;
	width : 80%;
	margin-top: 5px;
	margin-bottom: 5px;
}

/***** Map *****/

#map {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100vh;
}


/***** Search Input *****/

.searchInput, .searchSpan, .searchBut {
	background-color: rgba(0, 0, 0, 0);
	color: white;
}

.searchBut:hover {
	background-color: black;
}

.searchBut:focus {
	background-color: #222;
}

/*** Icon key + Footer ***/

.footer {
	color: white;
}

.icon-key {
	padding: 5px 0;
}

.icon-key span {
	padding: 0 20px;
}

/***** Postings Scroll *****/

#feed-container {
	margin: 51px 0 20px 0;
	min-height: 100%;
	height: 100%;
}

.feedscroll {
	opacity: 0.9;
	background-color: #222;
	overflow: auto;
	min-height: 80vh;
	max-height: 84vh;
	overflow-y: auto;
}

.feedHeader {
	color: white;
	text-align: center;
}

.post {
	margin-top: 20px;
}

/*** Individual Post ***/

.post {
	background: white;
	padding: 5px 0;
	border: 1px solid black;
	box-shadow: 0 5px rgba(0,0,0,0.2);
}

.desc, .avail, .rate, .userLocal, .bio {
	padding: 0 10px;
}
.firstCol {
	text-align: center;
}

.thumbImg {
	height: 80px;
	width: 80px;
	margin: 5px;
}

.downArrow {
	text-align: center;
}

.post-row {
	padding-top: 5px;
}

.slideIn {
	-webkit-animation: fadeInDownBig 1.25s;
  animation: fadeInDownBig 1.25s;
}

/* User Info */

.userHeader {
	text-align: center;
}
