/******* feed ********/

a {
	text-decoration: none !important;
}

hr {
	text-align: center;
	width : 80%;
	margin-top: 5px;
	margin-bottom: 5px;
}

/***** Map *****/

#map {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100vh;
}

/***** Search Input *****/

.searchTool {
	opacity: 0.9;
}

.searchInput, .searchSpan, .searchBut {
	background-color: #333;
	color: white;
}

.searchBut:hover {
	background-color: black;
}

.searchBut:focus {
	background-color: #222;
}

/***** Postings Scroll *****/

.feedscroll {
	padding-bottom: 20px;
	background-color: #333;
	opacity: 0.9;
	overflow: auto;
	min-height: 86vh;
	max-height: 88vh;
	overflow-y: auto;
	box-shadow: 0 5px rgba(0,0,0,0.2);
}

.feedHeader {
	color: white;
	text-align: center;
}

.post {
	margin-top: 20px;
}

/*** Individual Post ***/

.post {
	background: white;
	padding: 5px 0;
	border: 1px solid black;
	box-shadow: 0 5px rgba(0,0,0,0.2);
}

.desc, .avail, .rate, .userLocal, .bio {
	padding: 0 10px;
}
.firstCol {
	text-align: center;
}

.thumbImg {
	height: 80px;
	width: 80px;
	margin: 5px;
}

.downArrow {
	text-align: center;
}

.post-row {
	padding-top: 5px;
}
/* User Info */

.userHeader {
	text-align: center;
}
