/******* Feed ********/

/***** posts *****/
.searchTool span {
	background-color: #FFF;
}

.searchTool input {
	border-right-style: none;
}

.firstCol {
	text-align: center;
}

.thumbImg {
	height: 80px;
	width: 80px;
	margin: 5px;
}

.post {
	padding: 5px 0;
	border: 1px solid black;
	border-radius: 15px;
	box-shadow: 0 5px rgba(0,0,0,0.2);
}

.post:not(:first-child) {
	margin-top: 20px;
}

.headStudent {
	background-color: blue;
	color: white;
	width: 90%;
	height: 5px;
}

.headTutor {
	background-color: yellow;
	color: white;
	width: 90%;
	height: 5px;
}



