
/***** Applied to all Partials *****/
.navIcons {
	font-size: 1.75em;
	line-height: .75em;
	vertical-align: -15%;
}

.navbar {
	opacity: 0.9;
	box-shadow: 0 10px rgba(0,0,0,0.2);
}

.core {
	padding-top: 80px;
}

.shakePointer {
  -webkit-animation: shake 2.50s;
  animation: shake 2.50s;
}
/***** Create Posts Map *****/

#createMap {
 	height: 500px;
 	width: 100%;
 }

/*User Profile image in edit*/
.myProfileImg {
	height: 15rem;
	width: 15rem;
}


/**** Landing ****/

.bgimage {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.maintext {
  color: white;
  font-size: 10rem;
}

/** Log In **/

.demologin {
  text-align: center;
}

  /** Footer **/

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #333;
  opacity: 0.9;
  text-align: center;
}