
/***** Applied to all Partials *****/
.navIcons {
	font-size: 1.75em;
	line-height: .75em;
	vertical-align: -15%;
}

.navbar {
	opacity: 0.9;
	box-shadow: 0 10px rgba(0,0,0,0.2);
}

.core {
	padding-top: 80px;
}

/***** Create Posts Map *****/

#createMap {
 	height: 500px;
 	width: 100%;
 }

/*User Profile image in edit*/
.myProfileImg {
	height: 15rem;
	width: 15rem;
}