<div class='core' ng-init='CPC.getPostByPostId()'>
	<div class='col-md-3'>
  </div>
  <div class='col-md-6'>
    <form>
      <div class="form-group">
        <label for="first name">Sport</label>
        <input type="text" class="form-control" ng-model='CPC.singlePost.sport' required />
      </div>
      <div class="form-group">
        <label for='type'>Looking for : </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Instructor" ng-model='CPC.singlePost.type' /> Instuctor
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Student" ng-model='CPC.singlePost.type' /> Student
        </label>
      </div>
      <div class="form-group">
        <label for="exampleInputDesc1">Description</label>
        <textarea class="form-control" ng-model='CPC.singlePost.desc' ></textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Available</label>
        <input type="text" class="form-control" ng-model='CPC.singlePost.avail' required />
      </div>
      <div class="form-group" ng-show='CPC.singlePost.type == "student"' >
        <label for="exampleInputRate1">Hourly rate</label>
        <input type="text" class="form-control" ng-model='CPC.singlePost.rate' />
      </div>
      <div class="form-group">
        <label>Created on:</label>
        	{{ CPC.singlePost.created_at | dateFilter }}
        <label>Expires on:</label>
        	{{ CPC.singlePost.expiration | dateFilter }}
      </div>
      <p>*Editing posts will automatically update created on and expiration dates</p>
      <button type="submit" class="btn btn-default" ng-click="CPC.editPost('Active', CPC.singlePost.sport, CPC.singlePost.type, CPC.singlePost.desc, CPC.singlePost.avail, CPC.singlePost.rate)">Post</button>
      <button class='btn btn-warning' ng-click='CPC.editPost("Removed")' >Remove</button>
    </form>
  </div>
  <div class='col-md-3'>
  </div>
</div>