
<div class='container core'>
	<div class='row'>
		<div class='col-md-8'>
			<div id='map'>
			</div>
			<a href='#' ng-click='FC.markerListener($event, marker)'></a>
		</div>
		<div class='col-md-4'>
			<!-- Filter ng repeat results '| postByRecent' -->
			<div class='row post' ng-repeat='post in FC.postings ' >
				<div class='col-md-4 firstCol'>
					<div class='row'>
						<img class ='thumbImg' ng-src='{{ post.img }}' alt='profile photo' />
					</div>
					<div class='row'>
						<h5>{{ post.first_name }} {{ post.last_name }}</h5>
					</div>
				</div>
				<div class='col-md-4'>
					<div class='row'>
						<h5>Looking For: {{ post.type }}</h5>
					</div>
					<div class='row'>
						<h5>Sport: {{ post.sport }}</h5>
					</div>
					<div class='row'>
						<h5>{{ post.location }}</h5>
					</div>
				</div>
				<div class='col-md-4'>
					<div class='row'>
						<a href='mailto:{{ post.email }}'><h5>Contact User</h5></a>
					</div>
					<div class='row'>
						<h5>Created On: {{ post.created_at | dateFilter}}</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>