
<div class='container core'>
	<div class='row post' ng-repeat='post in FC.postings | postByRecent' >
		<div class='col-md-1 firstCol'>
			<div class='row'>
				<img class ='thumbImg' ng-src='{{ post.img }}' alt='profile photo' />
			</div>
			<div class='row'>
				<h5>{{ post.first_name }} {{ post.last_name }}</h5>
			</div>
		</div>
		<div class='col-md-3'>
			<div class='row'>
				<h5>Looking For: {{ post.type }}</h5>
			</div>
			<div class='row'>
				<h5>Subject: {{ post.subject }}</h5>
			</div>
			<div class='row'>
				<h5>{{ post.location }}</h5>
			</div>
		</div>
		<div class='col-md-3'>
			<div class='row'>
				<a href='mailto:{{ post.email }}'><h5>Contact User</h5></a>
			</div>
			<div class='row'>
				<h5>Created On: {{ post.created_at | dateFilter }}</h5>
			</div>
		</div>
	</div>
</div>