<div class='table-responsive core' ng-init='CPC.getPostsByUserId()'>
/******** TODO: User repost or removes post will be routed back to this page and not update until the page refreshes ********/
	<table class='table'>
	  <thead>
      <tr>
      	<th>Status</th>
      	<th>Manage</th>
        <th>Type</th>
        <th>Sport</th>
        <th>Availability</th>
        <th>Rate</th>
        <th>Posted Date</th>
        <th>expiration</th>
      </tr>
    </thead>
    <tbody ng-repeat='post in CPC.posts | orderBy: ["status", "created_at"]' >
    	<tr ng-class='{ success: post.status == "Active", danger: post.status == "Removed", warning: post.status == "Expired" }'>
				<td>{{ post.status }}</td>
				<td>
					<button class='btn btn-primary' ng-click='CPC.goToEditPost(post.id)' >Edit</button>
				</td>
				<td>{{ post.type }}</td>
				<td>{{ post.sport }}</td>
				<td>{{ post.avail }}</td>
				<td>{{ post.rate }}</td>
				<td>{{ post.created_at | dateFilter }}</td>
				<td>{{ post.expiration | dateFilter }}</td>
			</tr>
		</tbody>
	</table>
</div>