
<nav class="navbar navbar-inverse">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#/signup">Sign Up</a></li>
      <li><a href="#/login">Log In</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a ng-hide='!HC.getToken()' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#/profile/{{ HC.userId }}">Edit profile</a></li>
          <li role="separator" class="divider"></li>
          <li><a ng-click='HC.logOut()' href="#/">Sign Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<!-- I am trying to route to the users profile page and have an edit button their but only if the id param and id on sign in match? riskY? is that server side auth?  -->