<nav class="navbar navbar-inverse">
  <div class="collapse navbar-collapse">
    <ul ng-hide='HC.getToken()' class="nav navbar-nav">
      <li><a href="#/signup">Sign Up</a></li>
      <li><a href="#/login">Log In</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a ng-hide='!HC.getToken()' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span></a>
        <ul class="dropdown-menu">
          <li><a href='' ng-click='HC.goToProfile()' >Edit profile</a></li>
          <li role="separator" class="divider"></li>
          <li><a ng-click='HC.logOut()' href="#/">Sign Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>