<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class='container'>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="#/">Backwoods Contact</a></li>
      </ul>
      <ul ng-hide='HC.getToken()' class="nav navbar-nav navbar-right">
        <li><a href="#/login">Demo</a></li>
        <li><a href="#/signup">Sign Up</a></li>
        <li><a href="#/login">Log In</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a ng-hide='!HC.getToken()' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-cog navIcons"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-click='HC.goToMyPosts()' href="" >Manage Posts</a></li>
            <li><a href='' ng-click='HC.goToProfile()' >Manage profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click='HC.logOut()' href="#/">Log Out</a></li>
          </ul>
        </li>
      </ul> <!-- End of cog drop down -->
      <ul class="nav navbar-nav navbar-right">
        <li class="nav navbar-nav">
          <a  href='#/create' ng-hide='!HC.getToken()'><span class="fa fa-pencil-square-o navIcons"></span>
</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav navbar-nav">
          <a  href='#/feed' ng-hide='!HC.getToken()'><span class="fa fa-home navIcons"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>